<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="celebrities">

    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50818460917_faa7d39b0a_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50818361521_0dc73bf458_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50818361506_27d4ca6257_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50818361486_d76dca15fd_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50818361366_facc0de142_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50817619863_ab3151acf6_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50818460777_5364293cb5_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50818361401_a634f71ff3_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50817619783_698ca2c97e_o.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="https://live.staticflickr.com/65535/50818403926_a45e34f117_o.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>