<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">

    <footer>
        <div class="footer-main">
            <div class="container">
                        <div class="footer-widget">
                            <h4>About CREATIVE GUNS</h4>
                            <p>We believe in weapons! You ask why? It's quite simple and simultaneously not really.
                                People tend to say that the world needs to be looked at more broadly, but we believe
                                that we need to focus sharply, directly, and concretely on our goals. And what is more
                                direct, if not through the barrel of the weapon. Blow a kiss, fire a gun!
                            </p>
                        </div>
            </div>
        </div>
    </footer>
    
</th:block>
</html>