<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="main-navigation">
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/"><img src="https://live.staticflickr.com/65535/50809320323_d3f9c2d7e9_w.jpg" height="80" class="logo" alt="CREATIVE GUNS"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="/">HOME</a></li>
                        <li class="dropdown megamenu-fw">
                            <a href="/products" class="nav-link dropdown-toggle">PRODUCTS</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <h3 class="nav-item active"><a class="nav-link" href="/product-details">ALL WEAPONS</a></h3>
                                            <div class="content">
                                                <ul th:each="category : ${allCategories}" class="menu-col">
                                                    <li><a  th:text="${category.name}"
                                                            th:href="@{/products/{category}(category=${category.name})}">
                                                    </a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-menu col-md-3">
                                            <h3 class="nav-item active"><a class="nav-link" href="/product-details">DESIGNED GUNS</a></h3>
                                        </div>

                                        <div class="col-menu col-md-3">
                                            <h3 class="nav-item active"><a class="nav-link" href="/product-details">AMMUNITION</a></h3>
                                        </div>

                                        <div class="col-menu col-md-3">
                                            <h3 class="nav-item active"><a class="nav-link" href="/product-details">OPTICS</a></h3>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/cart">CART</a></li>
                        <li class="nav-item"><a class="nav-link" href="/checkout">CHECKOUT</a></li>
                    </ul>
                </div>

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="#">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
                        </a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>

            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="shop/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="shop/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="shop/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="/cart" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
    </header>

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
</th:block>
</html>