<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="main-top">

    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div class="carouselTicker">
                            <ul class="offer-box">
                                <li><i class="fas fa-smile-wink"></i> Welcome!</li>
                                <li><i class="fas fa-smile-wink"></i> It's nice to see you here!</li>
                                <li><i class="fas fa-smile-wink"></i> Blow a kiss, fire a gun!</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="our-link">
                        <ul>
                            <li><a href="/about">ABOUT US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>