<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="new-products">

    <div class="row my-5">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>New Products</h1>
                <p>Check out the latest products in our store.</p>
            </div>
            <div class="featured-products-box owl-carousel owl-theme">
                <div th:each="product : ${allProducts}" class="item">
                    <div  class="products-single fix">
                        <div class="box-img-hover">
                            <img th:src="${product.imageUri}" class="img-fluid" alt="Image">
                            <div class="why-text">
                                <h4 th:text="${product.name}"></h4>
                                <h5 th:text="${product.price} + €"></h5>
                            </div>
                            <div class="mask-icon">
                                <a class="cart" th:href="@{/products/{product.id}}">Show details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>