<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{shop/homepage-layout/homepage-head :: homepage-head}"></div>

<body>

    <div th:replace="~{shop/homepage-layout/main-top :: main-top}"></div>

    <div th:replace="~{shop/homepage-layout/main-navigation :: main-navigation}"></div>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">We are <span>CREATIVE GUNS</span></h2>
                    <p>We believe in weapons! You ask why? It's quite simple and simultaneously not really.
                        People tend to say that the world needs to be looked at more broadly, but we believe
                        that we need to focus sharply, directly, and concretely on our goals. And what is more direct,
                        if not through the barrel of the weapon. Shooting is a way to nurture patience, character, concentration,
                        and attention. Shooting frees the mind from unnecessary thoughts. It makes you try. Shooting teaches
                        that only precisely fired bullets reach the target, but the ability to not surrender in combination with willpower will help to get closer and
                        closer. Yes, sometimes weapons give people a sense of power, but it should be more about power and
                        control over themselves, their emotions, and character. Without trust, cooperation is not possible. And
                        we trust our customers deeply. As an American journalist, novelist, essayist, and poet, Christopher
                        Morely once said, "Big shots are just little shots who keep shooting." So - blow a kiss, fire a gun!</p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="https://live.staticflickr.com/65535/50817759473_5ecfa32fbb_o.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="https://live.staticflickr.com/65535/50817787583_17c34aaecc_o.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Anna</h3> <span class="post">IT Recruiter</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/Anjutochka" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/annatimofejeva/" class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Varbuut sheit ieliekam tekstinu katra kaut kaadu no sevis par to, kas kopiigs ierochiem un programmeeshanai??</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="https://live.staticflickr.com/65535/50818653921_d08623aaf6_o.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Baiba</h3> <span class="post">Smart Life Lover</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/baiba.kondratjeva" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/baiba-kondratjeva-a41a8682/" class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Varbuut sheit ieliekam tekstinu katra kaut kaadu no sevis par to, kas kopiigs ierochiem un programmeeshanai??</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="https://live.staticflickr.com/65535/50818654551_7ee1f6328f_o.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Laura</h3> <span class="post">Architectural Project Manager</span> </div>
                            <ul class="social">
<!--                                <li>-->
<!--                                    <a href="#" class="fab fa-facebook"></a>-->
<!--                                </li>-->
                                <li>
                                    <a href="https://www.linkedin.com/in/dobelelaura/" class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>"What programming and shooting have in common is that it is essential to practice, practice,
                                and practice to get better and better." /Laura/</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="https://live.staticflickr.com/65535/50818753412_35ac6f089a_o.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Monika</h3> <span class="post">Hotel Manager</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/monika.kozlovska" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/monika-kozlovska-071084204/" class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>"Programming is the same as shooting a distant target without a lens. You never know if you will
                                shoot in the center!" /Monika/</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <div th:replace="~{shop/homepage-layout/celebrities :: celebrities}"></div>

    <div th:replace="~{shop/homepage-layout/footer :: footer}"></div>

    <div th:replace="~{shop/homepage-layout/copyright :: copyright}"></div>

    <a href="/" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="/shop/js/jquery-3.2.1.min.js"></script>
    <script src="/shop/js/popper.min.js"></script>
    <script src="/shop/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/shop/js/jquery.superslides.min.js"></script>
    <script src="/shop/js/bootstrap-select.js"></script>
    <script src="/shop/js/inewsticker.js"></script>
    <script src="/shop/js/bootsnav.js."></script>
    <script src="/shop/js/images-loded.min.js"></script>
    <script src="/shop/js/isotope.min.js"></script>
    <script src="/shop/js/owl.carousel.min.js"></script>
    <script src="/shop/js/baguetteBox.min.js"></script>
    <script src="/shop/js/form-validator.min.js"></script>
    <script src="/shop/js/contact-form-script.js"></script>
    <script src="/shop/js/custom.js"></script>
</body>

</html>