<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{shop/homepage-layout/homepage-head :: homepage-head}"></div>

<body>

    <div th:replace="~{shop/homepage-layout/main-top :: main-top}"></div>

    <div th:replace="~{shop/homepage-layout/main-navigation :: main-navigation}"></div>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>MY ACCOUNT</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active">My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start My Account  -->
    <div class="my-account-box-main">
        <div class="container">
            <div class="my-account-page">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="#"> <i class="fa fa-gift"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Orders</h4>
                                    <p>Track, return, or buy things again</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="#"><i class="fa fa-lock"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Login &amp; security</h4>
                                    <p>Edit login, name, and mobile number</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="#"> <i class="fa fa-location-arrow"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Addresses</h4>
                                    <p>Edit addresses for orders and gifts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="#"> <i class="fa fa-credit-card"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Payment options</h4>
                                    <p>Edit or add payment methods</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End My Account -->

    <div th:replace="~{shop/homepage-layout/celebrities :: celebrities}"></div>

    <div th:replace="~{shop/homepage-layout/footer :: footer}"></div>

    <div th:replace="~{shop/homepage-layout/copyright :: copyright}"></div>

    <a href="/" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="/shop/js/jquery-3.2.1.min.js"></script>
    <script src="/shop/js/popper.min.js"></script>
    <script src="/shop/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/shop/js/jquery.superslides.min.js"></script>
    <script src="/shop/js/bootstrap-select.js"></script>
    <script src="/shop/js/inewsticker.js"></script>
    <script src="/shop/js/bootsnav.js."></script>
    <script src="/shop/js/images-loded.min.js"></script>
    <script src="/shop/js/isotope.min.js"></script>
    <script src="/shop/js/owl.carousel.min.js"></script>
    <script src="/shop/js/baguetteBox.min.js"></script>
    <script src="/shop/js/form-validator.min.js"></script>
    <script src="/shop/js/contact-form-script.js"></script>
    <script src="/shop/js/custom.js"></script>
</body>

</html>