<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{shop/homepage-layout/homepage-head :: homepage-head}"></div>

<body>

<div th:replace="~{shop/homepage-layout/main-top :: main-top}"></div>
<div th:replace="~{shop/homepage-layout/main-navigation :: main-navigation}"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop Detail</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/shop">SHOP</a></li>
                    <li class="breadcrumb-item active">Product Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div th:if="${isSuccess}" class="row alert alert-success">
                <strong>Success!</strong>&nbsp;<span>Product was added to cart!</span>
            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <img th:src="${product.imageUri}" class="image" alt="Image" height="" width="400"/>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2 th:text="${product.name}"></h2>
                        <h5 th:text="${product.price} + €"></h5>
                        <p class="available-stock"><span> More than 20 available / <a href="#">8 sold </a></span>
                        <p>
                        <h4>Description:</h4>
                        <p th:text="${product.description}"></p>

                        <form method="POST" th:object="${addProductToCartForm}">
                            <ul>
                                <li>
                                    <div class="form-group quantity-box" style="margin-bottom: 0.7rem;">
                                        <label class="control-label"
                                               th:classappend="${#fields.hasErrors('quantity')} ? text-danger : ''">Quantity</label>
                                        <input th:field="${addProductToCartForm.quantity}"
                                               th:value="${addProductToCartForm.quantity}"
                                               class="form-control" min="1" type="number"
                                               th:classappend="${#fields.hasErrors('quantity')} ? is-invalid : ''">
                                        <div th:if="${#fields.hasErrors('quantity')}"
                                             th:errors="*{quantity}"
                                             th:classappend="${#fields.hasErrors('quantity')} ? text-danger : ''"></div>
                                    </div>
                                </li>
                            </ul>

                            <div class="price-box-bar">
                                <div class="cart-and-bay-btn">
                                    <button class="btn hvr-hover" data-fancybox-close="" type="submit">Add to cart</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->

    <div th:replace="~{shop/homepage-layout/celebrities :: celebrities}"></div>
    <div th:replace="~{shop/homepage-layout/footer :: footer}"></div>
    <div th:replace="~{shop/homepage-layout/copyright :: copyright}"></div>

    <a href="/" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="/shop/js/jquery-3.2.1.min.js"></script>
    <script src="/shop/js/popper.min.js"></script>
    <script src="/shop/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/shop/js/jquery.superslides.min.js"></script>
    <script src="/shop/js/bootstrap-select.js"></script>
    <script src="/shop/js/inewsticker.js"></script>
    <script src="/shop/js/bootsnav.js."></script>
    <script src="/shop/js/images-loded.min.js"></script>
    <script src="/shop/js/isotope.min.js"></script>
    <script src="/shop/js/owl.carousel.min.js"></script>
    <script src="/shop/js/baguetteBox.min.js"></script>
    <script src="/shop/js/form-validator.min.js"></script>
    <script src="/shop/js/contact-form-script.js"></script>
    <script src="/shop/js/custom.js"></script>

</body>

</html>