<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{shop/homepage-layout/homepage-head :: homepage-head}"></div>

<body>

    <div th:replace="~{shop/homepage-layout/main-top :: main-top}"></div>
    <div th:replace="~{shop/homepage-layout/main-navigation :: main-navigation}"></div>

    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>PRODUCTS</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categories">
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div th:each="category : ${allCategories}" class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <a th:href="@{/categories/{categoryId}(categoryId=${category.id})}" class="list-group-item list-group-item-action" th:text="${category.name}" ><small class="text-muted"></small></a>
                            </div>
                        </div>

                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range"></div>
                                <p>
                                    <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                    <button class="btn hvr-hover" type="submit">Filter</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="€ EUR">
									<option data-display="Select">All</option>
									<option value="1">Popularity</option>
									<option value="2">High Price → High Price</option>
									<option value="3">Low Price → High Price</option>
									<option value="4">Best Selling</option>
								</select>
                                </div>
                                <p>Showing all 4 results</p>
                            </div>

                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view" style="margin-left: 15px;">
                                    <div class="row" style="width: 100%;">
                                        <div class="row align-items-start">
                                            <div th:each="product : ${allProducts}" class="products-single fix col col-6 col-sm-4">
                                                <div class="box-img-hover">
                                                    <img th:src="${product.imageUri}" class="img-fluid" alt="Image">
                                                    <div class="why-text">
                                                        <h4 th:text="${product.name}"></h4>
                                                        <h5 th:text="${product.price} + €"></h5>
                                                    </div>
                                                    <div class="mask-icon">
                                                        <form method="POST" th:object="${addProductToCartFrom}">
                                                            <input name="quantity" type="hidden" value="1"/>
                                                            <input name="productId" type="hidden" th:value="${product.id}"/>
                                                            <a class="btn hvr-hover" th:href="@{/products/{id}(id=${product.id})}">View details</a>
                                                            <button class="btn hvr-hover" type="submit">Add to Cart</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div role="tabpanel" class="tab-pane fade" id="list-view" style="margin-left: 15px;">
                                    <div class="list-view-box">
                                        <div class="row" style="width: 100%;">
                                            <div th:each="product : ${allProducts}" class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img th:src="${product.imageUri}" width="400" class="img-fluid" alt="Image">
                                                    <h3 th:text="${product.name}"></h3>
                                                    <h5 th:text="${product.price} + €"></h5>
                                                    <p th:text="${product.description}"></p>
                                                    <form method="POST" th:object="${addProductToCartFrom}">
                                                        <input name="quantity" type="hidden" value="1"/>
                                                        <input name="productId" type="hidden" th:value="${product.id}"/>
                                                        <a class="btn hvr-hover" th:href="@{/products/{id}(id=${product.id})}">View details</a>
                                                        <button class="btn hvr-hover" type="submit">Add to Cart</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <div th:replace="~{shop/homepage-layout/celebrities :: celebrities}"></div>
    <div th:replace="~{shop/homepage-layout/footer :: footer}"></div>
    <div th:replace="~{shop/homepage-layout/copyright :: copyright}"></div>

    <a href="/" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="/shop/js/jquery-3.2.1.min.js"></script>
    <script src="/shop/js/popper.min.js"></script>
    <script src="/shop/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/shop/js/jquery.superslides.min.js"></script>
    <script src="/shop/js/bootstrap-select.js"></script>
    <script src="/shop/js/inewsticker.js"></script>
    <script src="/shop/js/bootsnav.js."></script>
    <script src="/shop/js/images-loded.min.js"></script>
    <script src="/shop/js/isotope.min.js"></script>
    <script src="/shop/js/owl.carousel.min.js"></script>
    <script src="/shop/js/baguetteBox.min.js"></script>
    <script src="/shop/js/jquery-ui.js"></script>
    <script src="/shop/js/jquery.nicescroll.min.js"></script>
    <script src="/shop/js/form-validator.min.js"></script>
    <script src="/shop/js/contact-form-script.js"></script>
    <script src="/shop/js/custom.js"></script>
</body>

</html>